@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    background-color: hsl(0, 100%, 74%);
    background-image: url(bg-intro-desktop.png);
    background-blend-mode: overlay;
    width:1300px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
}

.container{
    display: flex;
    margin: auto;
    width: 80%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.First-side{
    color: white;
    padding-top: 50px;
}
/*h1{
    font-size: 60px;
    font-weight: 100px;
}*/

.First-side h1{
    font-size: 50px;
    font-weight: 300px;
}

.First-side p{
    font-size: 18px;
    font-weight: 200px;
}

.Second-side{
    display: block;
    margin: auto;
    padding: 10px;
    height: 100vh;
}

form{
    display: block;
}

.Second-side-div1{
    padding: 20px;
}

.Second-side-div1 input{
    background-color: rgb(28, 12, 99);
  border-radius: 5px;
    color: aliceblue;
    width: 420px;
    margin: auto;
    font-size: 15px;
    padding:10px 50px 10px 50px;
    border: none;
    border-radius: 5px;

}

.Box {
    background-color: aliceblue;
    border-radius: 5px;
    font-weight: 100px;
    width: 450px;
    height: 100px;
}

.Box input{
    width: 350px;
    padding: 15px;
    margin: 15px auto -5px 20px;
    border: solid 2px  hsl(0, 100%, 74%);
    border-radius: 3px;
}

#Last-btn{
    background-color: rgb(9, 185, 89);
    color: aliceblue;
    width: 350px;
}

label{
    color: green;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 10px;
    font-weight: 300px;
}

#span{
    color: red;
}

/* for mobile phone*/

/*@media (min-width: 50px) {
        body{
     background-color: hsl(0, 100%, 74%);
    background-image: url(bg-intro-mobile.png);
    background-blend-mode: overlay;
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
        }   

        .First-side h1{
            font-size: 30px;
            font-weight: 170px;
        }
        
        .First-side p{
            font-size: 10px;
            font-weight: 100px;
        }
        
        .container{
            display: block;
        }
        
        .Second-side{
            width: 50%;
        }

}

@media ( max-width: 1300px)  {
.container{
    display: flex;
}
}*/